# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://wpiacsyiluhmjswdoshb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Resend
RESEND_API_KEY=re_your_api_key
EMAIL_FROM="PNO Facture Pro <factures@votre-domaine.com>"

# Cron
CRON_SECRET=your_random_cron_secret
